@model PlataformaEmpleo.Models.Postulacion

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-white-special">Detalles de la postulación</h1>

<div>
    <h4 class="text-white-special">Postulación</h4>
    <hr />
    <dl class="text-white-special" ="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPostulacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPostulacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPostulacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPostulacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidato.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            Puesto postulado
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.OfertasPostulaciones)
            {
                <span> @item.OfertaEmpleo.Titulo</span>
                <br />
            }
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPostulacion" class="btn btn-contraste">Editar</a> |
    <a asp-action="Index" class="text-white-special">Volver a la lista</a>
</div>
