@model IEnumerable<PlataformaEmpleo.Models.Postulacion>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white-special">Index</h1>

<p>
    <a asp-action="Create" class="text-white-special">Crear Postulación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPostulacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoPostulacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPostulacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPostulacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidato.NombreCompleto)  
            </td>
             <td>
                <a asp-action="Edit" asp-route-id="@item.IdPostulacion" class="link-accion">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPostulacion" class="link-accion">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPostulacion" class="link-accion">Eliminar</a>
             </td>
        </tr>
}
    </tbody>
</table>
