@model IEnumerable<PlataformaEmpleo.Models.CV>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white-special">Index</h1>

<p>
    <a asp-action="Create" class="text-white-special">Crear CV</a>
</p>

<!--si falla el programa al intentar crear un cv porque el candidato ya tiene un cv -->
@if (TempData["ErrorCV"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorCV"]
    </div>
}
<!--aplica si el cv se creo sin problemas-->
@if (TempData["SuccessCV"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessCV"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerfilProfesional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormacionAcademica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienciaLaboral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habilidades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idiomas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Candidato.Nombre)
             </td>
             <td>
                @Html.DisplayFor(modelItem => item.PerfilProfesional)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormacionAcademica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienciaLaboral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habilidades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idiomas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certificaciones)
            </td>
             <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCV" class="link-accion">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCV" class="link-accion">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCV" class="link-accion">Eliminar</a>
             </td>
        </tr>
}
    </tbody>
</table>
