@model IEnumerable<PlataformaEmpleo.Models.OfertaPostulacion>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white-special">Index</h1>

<p>
    <a asp-action="Create" class="text-white-special">Crear Oferta Postulacion</a>
</p>
<table class="text-white-special" ="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Postulaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfertaEmpleo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Postulaciones.EstadoPostulacion) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfertaEmpleo.Titulo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfertasPostulacionesId" class="link-accion">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.OfertasPostulacionesId" class="link-accion">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.OfertasPostulacionesId" class="link-accion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
