@model IEnumerable<PlataformaEmpleo.Models.OfertaEmpleo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white-special">Index</h1>
<p>
    <a asp-action="Create" class="text-white-special">Crear Oferta</a>
</p>

<table class= "table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requisitos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reclutador.NombreEmpresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requisitos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reclutador.NombreEmpresa)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdOferta" class="link-accion">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdOferta" class="link-accion">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdOferta" class="link-accion">Eliminar</a>
                </td>
        </tr>
}
    </tbody>
</table>
