@model IEnumerable<PlataformaEmpleo.Models.Reclutador>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white-special">Index</h1>

<p>
    <a asp-action="Create" class="text-white-special">Crear perfil reclutador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoEmpresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoEmpresa)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdReclutador" class="link-accion">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdReclutador" class="link-accion">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdReclutador" class="link-accion">Eliminar</a>
                </td>
        </tr>
}
    </tbody>
</table>
